// Buttons

@use 'variables' as *;
@use 'mixins/buttons' as *;

//
// Base button
//
.btn {
  color: $white;
  font-family: $font-family-base;
  font-weight: $font-weight-base;

  &:focus {
    box-shadow: none;
  }

  // Disabled button
  &:disabled,
  &.disabled {
    border-color: $gray-3;
    color: $white;
    background-color: $gray-3;

    i {
      background-color: $white;
    }
  }
}

//
// Button variants
//
@each $variant, $color in $theme-colors {
  .btn-#{$variant} {
    @include button-variant($color);
  }
}

//
// Button outline variants
//
@each $variant, $color in $theme-colors {
  .btn-outline-#{$variant} {
    @include button-outline-variant($color);
  }
}

//
// Light button
//
.btn-light,
.btn-white {
  color: $primary !important; // ensure light button variant has primary color
}

//
// Link button
//
.btn-link {
  font-weight: $font-weight-medium;
  color: $primary;
  background-color: transparent;
  box-shadow: none;

  &:hover {
    color: lighten($primary, 20%) !important;
  }

  &:focus,
  &:active {
    color: darken($primary, 10%) !important;
  }
}

//
// Card button
//
.btn-card {
  border: solid 1px $gray-3;
  color: $gray-8 !important;
  background-color: transparent;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    color: $gray-8;
    border-color: $gray-8;
    background-color: transparent;
  }

  &:active:not(:disabled) {
    background-color: transparent;
  }
}

//
// Extra small button
//
.btn-xs {
  padding: 0.2rem 0.6rem;
  font-size: 0.75rem;
  border-radius: 0.15rem;
}

//
// Full width button
//
.btn-block {
  width: 100%;
}